{% extends "base.html" %}

{% block content %}
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">ფილმების სია</h1>
    </div>
  </div>

  <div class="container my-4">
    <div class="row">
      {% for film in films %}
        <div class="col-md-4">
          <div class="card">
            {% if film.id <= 3   %}
                        <img src="{{ film.image_filename }}" class="card-img-top" alt="{{ film.name }}" style="height: 250px; object-fit: cover;">
            {%else%}
            <img src="/static/{{ film.image_filename }}" class="card-img-top" alt="{{ film.name }}" style="height: 250px; object-fit: cover;">
            {%endif%}

            <div class="card-body">
              <h5 class="card-title">{{ film.name }} ({{ film.year }})</h5>
              <p class="card-text">{{ film.description }}</p>
              <p>Rated: {{ film.rate }}</p>
              <a class="btn btn-primary">ნახეთ ფილმის განხილვები</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
